* {
	margin:0;
	padding: 0;
  box-sizing: border-box;
}

html, body {
	height: 100%;
  width: 100%;
  background: #fff;
  
}

section {
  margin-bottom: 4rem;
}

h1.display-5{
  font-family: 'Lato', sans-serif;
  font-weight: 900;
}

hr {
  background-color: #2c2f33;
  height: 2px;
}

/*----------------------------------
---------Header Cover-------------
---------Category Page------------*/

/*#cover {
  background: url(../images/darkdawn.jpg) center center no-repeat;
  background-size: cover;
  color: #eaebeb;
  height: 95vh;
  text-align: center;
  position: relative;
  z-index: 1;
} 
*/


#cover img {
  height: 100%;
  width: 100%;
}

/*---------Card Hover Box Shadow--------*/
.card {
  transition: box-shadow .3s;
  border-radius:10px;
  border: 1px solid #ccc;
}

.card:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.5); 
}

.card-deck img {
  height: 40vh;
}

#overlay {
    background-color: #EEEEEE;
    position: absolute;
    z-index:100;
}

/*-------Cards Overlay Background and Text------*/

.dark {
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  right: 5px;
}

.dark-card {
  background: rgba(0,0,0,0.8);
  color: white;
  padding: 0.5rem;
  position: absolute;
  width: 100%;
  height: 50%;
  bottom: 0;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}





.text-overlay span {
  border-radius: 0 !important;
}

.image-wrapper .card {
  border: 0;
}

.image-wrapper .card-img {
  height: 100%;
}

.dark span {
  right: 0;
}

.image-wrapper .row  {
  height: 50%;
}

.image-wrapper {

  height: 80vh;
}

#top-post .wrapper {
  background-color: #2c2f33;
}

.header {
	width: 100%;
}

/*#header {
  position: fixed;
  overflow: hidden; 
}*/

/*.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .container {
  padding-top: 102px;
}*/



/*----------------------------*\
  search area
\*----------------------------*/

.top-search-area {
  position: relative;
  z-index: 1; }

.top-search-area form {
  position: relative;
  z-index: 1;
  border-left: 1px solid #838a8c;
  border-right: 1px solid #838a8c;
  padding: 0;
}

.top-search-area form input {
	width:250px;
	height:30px;
	border: none;
	color: #a6a6a6;
  font-size: 14px;
  /*font-style: italic;*/
  padding: 0 20px;
  background-color: transparent; 
}

/*----------------------------*\
  navbar
\*----------------------------*/


.navbar-nav .nav-item a {
  color: #222;
}


/*----------------------------*\
  social-icons on navbar
\*----------------------------*/

#social-circle{
  display: inline;
  margin:0;
}

#social-circle li {
  display: inline;
  padding:2px;
  margin: 0;
}

#social-circle li i{
  line-height: 50px;
}

.text-overlay {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 75%;
}
.text-900 {
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  height: 100%;
  font-weight: bold;
  width: 100%;
  padding: 0 20% 0 2rem;
}

.overlay-response img{
  display: block;
}

.overlay-response .card {
  display: inline-block;
}

.text-middle {
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  line-height: 30px;
  font-weight: bold;
  position: absolute;
  top: 30%;
  left: 25%;
  color: #fff;
  right: 25%;
  text-align: center;
  text-overflow: hidden;
}

.feature-cover img {
  filter: brightness(50%);
}

.btn-custom {
  background-color: #555;
}

#nav-div {
  text-align: center;
}

#social-circle li a{
/*  display: inline-block;*/
/*  border-radius: 50px;*/
  position: relative;
/*  -moz-border-radius:50%;
  -webkit-border-radius:50%;*/
}

#social-circle i.fa{
  color: black;
  width: 40px;
  font-size: 18px;
  line-height: 23px;
  border: 2px solid #666;
  box-shadow: #222 3px 5px 1px 1px;
}

#social-circle a {
  color: #3A4E62;
}


#social-circle a.iconfb:hover ,
#social-circle a.icontwitter:hover , 
#social-circle a.icongp:hover ,
#social-circle a.iconinsta:hover
{
  background-color:#222;
}
  

#social-circle a.iconfb i:hover , 
#social-circle a.icontwitter i:hover, 
#social-circle a.icongp i:hover, 
#social-circle a.iconinsta i:hover {
  color: white;
}


/*----------------------------*\
  banner
\*----------------------------*/

.banner{
  background-color: #222;
  text-align: center;
  color: #fff;
   
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.banner-text{
  padding:200px 0 150px 0;
}
.banner-heading{
  font-family: 'Lobster', cursive;
  font-size: 70px;
  font-weight: 700;
  line-height: 100px;
  margin-bottom: 30px;
  color:#fff;
}
.banner-sub-heading{
  font-family: 'Libre Baskerville', serif;
  font-size: 30px;
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 50px;
  color:#fff;
}

.btn-banner{
  padding:5px 20px;
  border-radius:10px;
  font-weight:700;
  line-height:1.5;
  text-align:center;
  color:#fff;
  text-transform:uppercase;
}
.text-intro{
  width:90%;
  margin:auto;
  text-align:center;
  padding-top:30px;
}


/* mobile view */
@media (max-width:500px)
{

.navbar-nav
{
    background-color:#000;
    border-top:3px solid #fed136;
    color:#fff;
    z-index:1;
    margin-top:5px;
}

.navbar-nav .nav-item .nav-link
{
  padding: 0.7em 1em!important;
  font-size: 100%;
    font-weight: 500;
}

.banner-text
{
  padding:150px 0 150px 0;
}

.banner-heading
{
  font-size: 30px;
    line-height: 30px;
    margin-bottom: 20px;
}

.banner-sub-heading
{
  font-size: 10px;
    font-weight: 200;
    line-height: 10px;
    margin-bottom: 40px;
}

}

@media (max-width:768px){
  .banner-text{
  padding:150px 0 150px 0;
}
  .banner-sub-heading{
  font-size: 23px;
    font-weight: 200;
    line-height: 23px;
    margin-bottom: 40px;
}
}

/*----------------------------*\
  logo
\*----------------------------*/

.nav-logo {
  position: absolute;
  left: 50%;
  /*height: auto;*/

  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.nav-logo .logo {
  display: inline-block;
  line-height: 70px;
  height: 70px;
}

/*.nav-logo .logo>img {
  width: 80%;
  max-height: 300px;
}*/




/*----------------------------*\
  banner
\*----------------------------*/

.carousel {
  position: relative;
}

.carousel .indicator-inner span {
  color: #fff;
  font-size: 17px;
  font-family: 'Lobster', cursive;
  font-weight: 400;
}


.editors-pick {
  font-size: 2.5em;
  font-weight: bold;
  text-align: center;
  padding: 5px;
  font-family: 'Libre Baskerville', serif;
}

.card-image-left {
  display: inline-block;
  float: left;
}

#top-post a {
  position: absolute;
  bottom: 2px;
  right: 5px;
}

#top-post .card {
  margin-bottom: 1.5rem;

}

#recent .card-body, .recent-card .card-body {
  position: absolute;
  background-color: #fff;
  top: 45%;
  left: 6%;
  width: 90%;
}

@media (min-width: 576px) {
  .card-columns {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem;
    orphans: 1;
    widows: 1;
  }
  .card-columns .card {
    display: inline-block;
    width: 100%;
  }
}

.recent-card .card {
  display: inline-block;
  position: relative;
  height: 400px;
  border: none;
}



/* -----------------------------------*/
/* ---------->>> GLOBAL <<<-----------*/
/* -----------------------------------*/

footer {
    margin-top: 40px;
    padding-top: 80px;
    padding-bottom: 40px;
    background-color: #1b1c1e;
    color: #eaebeb;
    text-align: justify;
}

/*---------------------------------------
---------------Cards-------------------
---------------------------------------*/

.image {
  position: relative;
}

.image img {
  height: 100%;
  width: 100%;
 
}

.image span{
 position: absolute;
 background-color:#444;
 top: -5%;
 left: 0%;
 padding: 5px;
 border-radius: 0px;  
}

.image span h4{
 color: #fff; 
 font-family: 'Oswald', sans-serif;
}

.cat {
  font-family: 'Kaushan Script', cursive;
  font-size: 20px;
  color: #555;
}

.title{
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  font-size: 20px;  
  color: #333;
}

.text-middle .title {
  font-size: 2rem;
  color: #fff;
}

.text-middle .cat {
   color: #fff;
}

.post-meta a {
  font-size: 13px;
}

#btn-read {
  background-color: #333;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
}

#btn-read:hover {
  background-color: #fff;
  color: #111;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  border: 2px solid #111;
/*  border-bottom: 5px solid #111;*/
}

.pop {
  color: #333;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  padding: 5px;
  font-family: 'Open Sans', sans-serif;
}

.number {
  font-family: 'Kaushan Script', cursive;
  font-size: 45px;
  padding: 15px;
  color: #555;
}

.pop-cont {
   display: flex;
}

.pop-title {
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  font-size: 16px;  
  color: #333;
}

.pop-details {
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;  
  color: #333;
}

.rec-image img{
  height: 100%;
  width: 100%;
  padding: 5px;
}

.card h4{
 color: #111; 
 font-size: 30px;
 text-align: center;
 font-family: 'Oswald', sans-serif;
}

.card-details {
  position: absolute;
   box-shadow: #222 3px 5px 1px 1px;
   max-width: 98%;
   max-height: 98%;
   top: 80%;
   background-color: #fff;
}

.card-details span{
 position: absolute;
 background-color:green;
 opacity: .9;
 top: -15%;
 left: 40%;
 padding: 5px;
 border-radius: 0px;  
}

.card-details span h4{
 color: #fff; 
 font-family: 'Oswald', sans-serif;
}

.card-details span h3{
 color: #fff; 
 font-size: 17px;
 text-align: center;
 font-family: 'Oswald', sans-serif;
}


.card-details:hover {
  position: absolute;
   max-width: 98%;
   max-height: 98%;
   top: 80%;
   box-shadow: #222 3px 3px 5px 8px;
}

.hovers {
  display: none;

}

.buttonss {
  position: relative;
  display: flex;
  line-height: 3px; 

}

#links {
  border: 2px solid #222;
  border-bottom: 4px solid #222;
}

.buttonss:hover .hovers {
  display: block;
}

.buttonss:hover #links1,#links2,#links3 {
  border: 2px solid #222;
  border-bottom: 3px solid #222;
}

#links1:hover {
  background-color: #111;
  color: #fff;
  border: 1px solid #222;
  border-bottom: 3px solid #222;
  transition-delay: .5s;
  opacity: 1;
}

#links3:hover {
  background-color: #111;
  color: #fff;
  border: 1px solid #222;
  border-bottom: 3px solid #222;
  transition-delay: .9s;
  opacity: 1;
}

#links2:hover {
  background-color: #111;
  color: #fff;
  border: 1px solid #222;
  border-bottom: 3px solid #222;
  transition-delay: .7s;
  opacity: 1;
}

.section-title {
    position: relative;
    margin-bottom: 20px;
}

.section-title .title {
    position: relative;
    display: inline-block;
    background-color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-right: 10px;
    z-index: 20;

}

.section-title:after {
    content: "";
    display: inline-block;
    height: 2px;
    background-color: #e8eaed;
    position: absolute;
    left: 0;
    right: 0;
    top: 10px;
    z-index: 10;
}

h4.card-title {
  font-size: 1.5rem;
  text-align: justify;
}

.feature-cover img{
  height: 100vh;

}

.more-feature .card {
  border-radius: 0;
}

@media (max-width:1150px) {
  .feature-cover img{
    height: 50vh;
    
  }

  .text-middle {
    top: 15%;
  }
}

@media (max-width: 768px){
  .text-middle .title {
    font-size: 25px;
  }
}

.card-title:before {
  content: "";
    display: inline-block;
    height: 2px;
    background-color: #e8eaed;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
}

.featured .card img {
  height: 350px;
}




/*.navi {
    position:absolute;
    top:20%;
    z-index:10;
    background: rgb(0, 0, 0); opacity: 0.7;
    width:100%;
}
*/

.cover-image {

  background: url(../images/penny-schiereck-1267743-unsplash.jpg) center center no-repeat;
  height: 75vh;
  color: #fff;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}


#cover .card-text {
  display: block;
  padding-top: 1rem;
}

#cover .card {
  border-radius: 0;
}

.post-text {
  position: absolute;
  left: 0;
  bottom: 10px;
  letter-spacing: 1px;
  line-height: 30px;
  font-weight: bold;
}

.dark-overlay {
  background: rgba(0,0,0,0.8);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

}