
* {
	margin:0;
	padding: 0;

}

html, body {
	height: 100%;
  width: 100%;
  
}
section {
  margin-bottom: 2rem;
}

h1.display-5{
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

#cover {
  background: url(../images/darkdawn.jpg) center center no-repeat;
  background-size: cover;
  color: #eaebeb;
  height: 100vh;
  text-align: center;
  position: relative;
  z-index: 1;
  } 

  #cover:after{
     content:"";
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin:auto;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.5);
    z-index:-1;
  }

#cover img{
height: 100%;
width: 100%;
}

.card-deck img {
  height: 40vh;
}

#overlay {
    background-color: #EEEEEE;
    position: absolute;
    z-index:100;
}

.dark {
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  right: 5px;
}

.text-overlay{
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    height: 100%;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 0 20% 0 2rem;
    display: block;

}

.text-overlay span {
  border-radius: 0 !important;
}

.image-wrapper .card {
  border: 0;
}

.dark span {
  right: 0;
}

.image-wrapper .row  {
  height: 50%;
}

.image-wrapper {

  height: 75vh;
}



#cover hr{
  background-color: #fff;
}

.header {
	width: 100%;
}

.top-search-area {
    position: relative;
    z-index: 1; }

.top-search-area form {
      position: relative;
      z-index: 1;
      border-left: 1px solid #838a8c;
      border-right: 1px solid #838a8c;
      padding: 0;
}

.top-search-area form input {
	width:250px;
	height:30px;
	border: none;
	color: #a6a6a6;
    font-size: 14px;
    /*font-style: italic;*/
    padding: 0 20px;
    background-color: transparent; 
}

.text-900 {
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  line-height: 30px;
  font-weight: bold;
  position: absolute;
  bottom: 5px;
}

/*#nav-div {
  text-align: center;
}
.navbar-nav {
  text-align: center;
}

.navbar-nav li {
  display: inline-block;
  float: none;
 
}*/