* {
	margin:0;
	padding: 0;
  box-sizing: border-box;
}

html, body {
	height: 100%;
/*  width: 100%;*/
  background: #fff;

}

section {
  margin-bottom: 4rem;
}

h1.display-5{
  font-family: 'Lato', sans-serif;
  font-weight: 900;
}

hr {
  background-color: #2c2f33;
  height: 2px;
}



.must-reads
{
  background-color: #171717;
}

/*----------------------------------
---------Header Cover-------------
---------Category Page------------*/

/*#cover {
  background: url(../images/darkdawn.jpg) center center no-repeat;
  background-size: cover;
  color: #eaebeb;
  height: 95vh;
  text-align: center;
  position: relative;
  z-index: 1;
} 
*/
/*.card {
  -webkit-box-shadow: 0px 0px 20px 4px rgba(81,81,81,0.95);
-moz-box-shadow: 0px 0px 20px 4px rgba(81,81,81,0.95);
box-shadow: 0px 0px 20px 4px rgba(81,81,81,0.95);
}*/


#cover img {
  height: 100%;
  width: 100%;
}

/*---------Card Hover Box Shadow--------*/
.card {
/*  transition: box-shadow .3s;
  border-radius:10px;
  border: 1px solid #ccc;*/
}

.card:hover {
 /* box-shadow: 0 0 11px rgba(33,33,33,.5); */
}

.card-deck img {
  height: 40vh;
}

#overlay {
    background-color: #EEEEEE;
    position: absolute;
    z-index:100;
}

/*-------Cards Overlay Background and Text------*/

.dark {
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  right: 5px;
}

.dark-card {
  background: rgba(0,0,0,0.8);
  margin: 0 auto;
  color: white;
  padding: 1rem;
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  overflow: hidden;
}


.text-overlay span {
  border-radius: 0 !important;

}

.image-wrapper .card {
  border: 0;
}

.image-wrapper .card-img {
  height: 100%;
}

.dark span {
  right: 0;
}

.image-wrapper .row  {
  height: 50%;
}

.image-wrapper {

  height: 80vh;
}

#top-post .wrapper {
  background-color: #2c2f33;
}



/*#header {
  position: fixed;
  overflow: hidden; 
}*/

/*.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .container {
  padding-top: 102px;
}*/



/*----------------------------*\
  search area
\*----------------------------*/

.top-search-area {
  position: relative;
  z-index: 1; }

.top-search-area form {
  position: relative;
  z-index: 1;
  border-left: 1px solid #838a8c;
  border-right: 1px solid #838a8c;
  padding: 0;
}

.top-search-area form input {
	width:250px;
	height:30px;
	border: none;
	color: #a6a6a6;
  font-size: 14px;
  /*font-style: italic;*/
  padding: 0 20px;
  background-color: transparent; 
}

/*----------------------------*\
  navbar -- header
\*----------------------------*/

.header {
  width: 100%;
/*  margin-top: 10px;*/
  background-color:#c4cbd2;
  /*position: absolute;*/
}

#footer {
  width: 100%;
}

.navbar-brand img {
  position: absolute; 
  width: 50px;
  height: 50px;
}

.navbar-brand h4 {
  position: relative; 
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  color: #111;
}
/*.navbar-nav .nav-item .nav-link {
    color: #111;
    font-size:15px;
    font-family: 'Open Sans', sans-serif;
}
*/
.navbar-light .navbar-nav .nav-link {
    color: #111;
    font-size:15px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}

#nav-linkz {
    color: #111;
    font-size:15px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

#nav-linkz:hover , .nav-linkz:focus {
  border-bottom: 3px solid #111;
  color: #111;
  font-weight: normal;
}

.navbar-light .navbar-nav .nav-link:hover , .navbar-light .navbar-nav .nav-link:focus {
  border-bottom: 3px solid #111;
  color: #111;
  font-weight: normal;
}



/*.navbar-light {
  color: #111;
}*/

@media only screen and (max-width: 400px;){

.navbar-brand img {
  position: absolute; 
  width: 50px;
  height: 50px;
}

.navbar-brand h4 {
  position: relative; 
/*  padding: 5px;*/
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
}

}

@media (min-width: 1024px) {
.container {
    max-width: 1000px;
}

}

@media (min-width: 1000px) {
.container {
    max-width: 960px;
}
}

@media (min-width: 960px) {
.container {
    max-width: 900px;
}
}
/*----------------------------*\
  social-icons on navbar
\*----------------------------*/

.social-icons {
  margin-top: 30px;
}

#social-circle{
  display: inline;
  margin:0;
}

#social-circle li {
  display: inline;
  padding:2px;
  margin: 0;
}

#social-circle li i{
  line-height: 50px;
}

.text-overlay {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  padding-top: 100px;
  background-color: rgba(0,0,0,0.7);
}

@media only screen and (max-width: 1024px;){
   .text-overlay { 
      width: 100%; 
       height: 100%;
       padding-top: 0px;
    }
   .text-overlay h4{ 
      font-size: 1.5rem;
      text-align: justify;
      width: 100%; 
   }
   .text-overlay h3{
      font-size: 1.75rem;
      text-align: justify;
      width: 100%; 
   }

  .text-overlay h6{
      font-size: 1rem;
      text-align: justify;
      width: 100%; 
   }

   .text-overlay p{
      font-size: 1rem;
      text-align: justify;
      width: 100%; 
   }
}
.text-900 {
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  height: 100%;
  font-weight: bold;
  width: 100%;
  padding: 0 20% 0 2rem;
}

.overlay-response img{
  display: block;
}

.overlay-response .card {
  display: inline-block;
}

.card-bg img {
  background: rgba(0,0,0,0.8);
}


.text-middle {
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  line-height: 30px;
  font-weight: bold;
  position: absolute;
  top: 30%;
  left: 25%;
  color: #fff;
  right: 25%;
  text-align: center;
  text-overflow: hidden;

}

.feature-cover img {
  filter: brightness(50%);
}

.btn-custom {
  background-color: #555;
}

#nav-div {
  text-align: center;
}

#social-circle li a{
  display: inline-block;
/*  border-radius: 50px;*/
  position: relative;
/*  -moz-border-radius:50%;
  -webkit-border-radius:50%;*/
}

#social-circle i.fa{
  color: black;
  width: 40px;
  font-size: 18px;
  line-height: 23px;
  border: 2px solid #666;
  box-shadow: #222 3px 5px 1px 1px;
}

#social-circle a {
  color: #3A4E62;
}


#social-circle a.iconfb:hover ,
#social-circle a.icontwitter:hover , 
#social-circle a.icongp:hover ,
#social-circle a.iconinsta:hover
{
  background-color:#222;
}
  

#social-circle a.iconfb i:hover , 
#social-circle a.icontwitter i:hover, 
#social-circle a.icongp i:hover, 
#social-circle a.iconinsta i:hover {
  color: white;
}


/*----------------------------*\
  banner
\*----------------------------*/

.banner{
  background:url(../images/john-paul-henry-708151-unsplash.jpg);
  text-align: center;
  color: #fff;
   
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.banner .row {
  background-color: rgba(0,0,0,0.8);
}

.banner-text{
  padding:200px 0 150px 0;
  
}
.banner-heading{
  font-family: 'Oswald', sans-serif;
  font-size: 70px;
  font-weight: 700;
  line-height: 100px;
  margin-bottom: 30px;
  color:#fff;
}
.banner-sub-heading{
  text-align: justify;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
  margin-bottom: 50px;
  color:#fff;
}

.btn-banner{
  padding:5px 20px;
  border-radius:10px;
  font-weight:700;
  line-height:1.5;
  text-align:center;
  color:#fff;
  text-transform:uppercase;
}
.text-intro{
  width:90%;
  margin:auto;
  text-align:center;
  padding-top:30px;
}


/* mobile view */
@media (max-width:768px;)
{

.navbar-nav
{
    border-top:3px solid #fed136;
    /*z-index:1;*/
    margin-top:5px;

}

.navbar-nav .nav-item .nav-link
{

  /*padding: 0.7em 1em!important;*/
  font-size: 100%;
  font-weight: 500;
}

}


@media (max-width: 810px) {

#featured-card .card-deck .card {
    display: flex;
    flex: 1 0 0%;
    flex-direction: row;
/*    margin-right: 15px;
    margin-bottom: 0;
    margin-left: 15px;*/
}
}

@media (max-width: 760px) {

.card-deck {
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    margin-right: -15px;
    margin-left: -15px;
}
}



@media (max-width:768px){
  .banner-text{
  padding:150px 0 150px 0;
}
  .banner-sub-heading{
  font-size: 23px;
    font-weight: 200;
    line-height: 23px;
    margin-bottom: 40px;
}
}

/*----------------------------*\
  logo
\*----------------------------*/

.nav-logo {
  position: absolute;
  left: 50%;
  /*height: auto;*/

  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.nav-logo .logo {
  display: inline-block;
  line-height: 70px;
  height: 70px;
}

/*.nav-logo .logo>img {
  width: 80%;
  max-height: 300px;
}*/

.little-icon span {
   display: inline-flex;
}

.line {
  width: 55px;
  height:3px;
  background-color: grey;
}




/*----------------------------*\
  banner
\*----------------------------*/

.carousel {
  position: relative;
}

.carousel .indicator-inner span {
  color: #fff;
  font-size: 17px;
  font-family: 'Lobster', cursive;
  font-weight: 400;
}


.editors-pick {
  font-size: 2.5em;
  font-weight: bold;
  text-align: center;
  padding: 5px;
  font-family: 'Open Sans', sans-serif;
}

.card-image-left {
  display: inline-block;
  float: left;
}

#top-post a {
  position: absolute;
  bottom: 2px;
  right: 5px;
}

#top-post .card {
  margin-bottom: 1.5rem;

}


.overlay-response .wrap {
  position: relative;
  height:100%;
  background-color: transparent;
-webkit-box-shadow: 0px 11px 41px -12px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 11px 41px -12px rgba(0,0,0,0.75);
box-shadow: 0px 11px 41px -12px rgba(0,0,0,0.75);

}
.wrap {
  position: relative;
  min-height: 150px;
-webkit-box-shadow: 0px 11px 41px -12px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 11px 41px -12px rgba(0,0,0,0.75);
box-shadow: 0px 11px 41px -12px rgba(0,0,0,0.75);

}

#recent .card-body, .recent-card .card-body,
#author-content .card-body, .recent-card .card-body,
#cat1 .card-body, .recent-card .card-body  {
  background-color: #fff;
  overflow: hidden;
  margin-left: 15px;
  margin-right: 15px;
   margin-top: -50px; 
   text-overflow: 
}

@media (min-width: 576px) {
  .card-columns {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem;
    orphans: 1;
    widows: 1;
  }
  .card-columns .card {
    display: inline-block;
    width: 100%;
  }
}

@media (min-width: 576px) {
  #author-content .card-columns, #cat1 .card-columns {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem;
    orphans: 1;
    widows: 1;
  }
   #author-content .card-columns .card, #cat1 .card-columns .card {
    display: inline-block;
    width: 100%;
  }
}

.recent-card .card {
  display: inline-block;
  position: relative;
  height: 400px;
  border: none;
}



/* -----------------------------------*/
/* ---------->>> GLOBAL <<<-----------*/
/* -----------------------------------*/

footer {
    margin-top: 40px;
    padding-top: 80px;
    padding-bottom: 40px;
    background-color: #1b1c1e;
    color: #eaebeb;
    text-align: justify;
}

/*---------------------------------------
---------------Cards-------------------
---------------------------------------*/

.image {
  position: relative;
}

.image img {
  height: 100%;
  width: 100%;
 
}

.image span{
 position: absolute;
 background-color:#444;
 top: -5%;
 left: 0%;
 padding: 5px;
 border-radius: 0px;  
}

.image span h4{
 color: #fff; 
 font-family: 'Oswald', sans-serif;
}

.cat {
  font-family: 'Kaushan Script', cursive;
  font-size: 20px;
  color: rgba(255,255,255,0.6);
  animation-name: topFadeOut;
  animation-duration: 4s;
  opacity: 1;
}

.text-middle .title {
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  font-size: 2rem;
  color: #fff;
  position: relative;

  animation-name: topFadeOut;
  animation-duration: 5s;
  opacity: 1;

}
.text-middle .text-mid {
  font-family: 'Open Sans', sans-serif;
  animation-name: topFadeOut;
  animation-duration: 4s;
  opacity: 1;
  font-size: 12px;
  color: rgba(255,255,255,0.6);
}

.text-middle .cat {
   color: #fff;

}

@keyframes topFadeOut {
  0% {
    position: relative;
    top: -3rem;
    opacity: 1;
  }

  75% {
    position: relative;
    top: 0rem;
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

  

.post-meta a {
  font-size: 13px;
}

#btn-read {
  background-color: #fff;
  color: #111;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 13px;
}

#btn-read:hover {
  background-color: #111;
  color: #fff;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  border: 2px solid #111;
/*  border-bottom: 5px solid #111;*/
}

.pop {
  color: #333;
  font-size: 1.4em;
  font-weight: bold;
  text-align: center;
  padding: 5px;
  font-family: 'Open Sans', sans-serif;
}

.number {
  font-family: 'Kaushan Script', cursive;
  font-size: 45px;
  padding: 15px;
  color: #555;
}

.pop-cont {
   display: flex;
}

.pop-title {
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  font-size: 16px;  
  color: #333;
}

.pop-details {
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;  
  color: #333;
}

.rec-image img{
  height: 100%;
  width: 100%;
  padding: 5px;
}

.card h4{
 color: #111; 
 font-size: 30px;
 text-align: center;
 font-family: 'Oswald', sans-serif;
}

.card-details {
   position: absolute;
/*   box-shadow: #222 3px 5px 1px 1px;*/
   max-width: 98%;
   max-height: 98%;
   top: 80%;
   background-color: #fff;
}

.card-details span{
 position: absolute;
 background-color:green;
 opacity: .9;
 top: -15%;
 left: 40%;
 padding: 5px;
 border-radius: 0px;  
}

.card-details span h4{
 color: #fff; 
 font-family: 'Oswald', sans-serif;
}

.card-details span h3{
 color: #fff; 
 font-size: 17px;
 text-align: center;
 font-family: 'Oswald', sans-serif;
}


.card-details:hover {
  position: absolute;
   max-width: 98%;
   max-height: 98%;
   top: 80%;
   box-shadow: #222 3px 3px 5px 8px;
}

.hovers {
  display: none;

}

.buttonss {
  position: relative;
  display: flex;
  line-height: 3px; 

}

#links {
  border: 2px solid #222;
  border-bottom: 4px solid #222;
}

.buttonss:hover .hovers {
  display: block;
}

.buttonss:hover #links1,#links2,#links3 {
  border: 2px solid #222;
  border-bottom: 3px solid #222;
}

#links1:hover {
  background-color: #111;
  color: #fff;
  border: 1px solid #222;
  border-bottom: 3px solid #222;
  transition-delay: .5s;
  opacity: 1;
}

#links3:hover {
  background-color: #111;
  color: #fff;
  border: 1px solid #222;
  border-bottom: 3px solid #222;
  transition-delay: .9s;
  opacity: 1;
}

#links2:hover {
  background-color: #111;
  color: #fff;
  border: 1px solid #222;
  border-bottom: 3px solid #222;
  transition-delay: .7s;
  opacity: 1;
}

.section-title {
    position: relative;
    margin-bottom: 20px;
}

#author-content .section-title {
  margin-bottom: 0;
}

.section-title .title {
    position: relative;
    display: inline-block;
    background-color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-right: 10px;
    z-index: 20;

}

.section-title:after {
    content: "";
    display: inline-block;
    height: 2px;
    background-color: #e8eaed;
    position: absolute;
    left: 0;
    right: 0;
    top: 10px;
    z-index: 10;
}

h4.card-title {
  font-size: 1.5rem;
  text-align: justify;
}

.feature-cover img{
  height: 100vh;

}

.more-feature .card {
  border-radius: 0;
}

@media (max-width:1024px) {
  .feature-cover img{
    height: 50vh;
    
  }

  .text-middle {
    top: 15%;
  }
}

@media (max-width: 768px){
  .text-middle .title {
    font-size: 25px;
  }
}

.card-title:before {
    content: "";
    display: inline-block;
    height: 2px;
    background-color: #e8eaed;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
}

.featured .card img {
  height: 350px;
}




/*.navi {
    position:absolute;
    top:20%;
    z-index:10;
    background: rgb(0, 0, 0); opacity: 0.7;
    width:100%;
}
*/

.cover-image {

  background: url(../images/penny-schiereck-1267743-unsplash.jpg) center center no-repeat;
  height: 75vh;
  color: #fff;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}




#cover .card {
  border-radius: 0;
}

.post-text {
  position: absolute;
  left: 0;
  bottom: 10px;
  letter-spacing: 1px;
  line-height: 30px;
  font-weight: bold;
}


.dark-overlay {
  background: rgba(0,0,0,0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


/*----------------------------*\
  must read section
\*----------------------------*/

.must-read img {
  height: 100%;
  width: 100%;
}

.must-read h3 {
  padding: 8px;
  font-size: 17px;
  font-family: 'Open Sans', sans-serif;
   color:  #FAEBD7;
  
}

.must-readss h4{
  font-family: 'Oswald', sans-serif;
  font-size: 40px;
  color:  #FAEBD7;
  text-align: center;
}

.line2 {
  width: 250px;
  height:3px;
  background-color:  #FAEBD7;
}

.post-dates {
  color:  #FAEBD7;
}


/*----------------------------*\
  bottom stay updated
\*----------------------------*/

.stay_updated h4 {
  font-family: 'Oswald', sans-serif;
  font-size: 40px;
  color:  #111;
  text-align: center;
}

.stay_updated h3 {
 font-family: 'Kaushan Script', cursive;
  font-size: 15px;
  color: #444;
  text-align: center;
}

.stay_updated input {
  font-family: 'Open Sans', sans-serif;
  color: #111;
  text-align: center;
}

.stay_updated .btn {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  text-align: center;
  background-color: #111;
}


/*.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  -webkit-transition: all 0.4s  cubic-bezier(0.88,-0.99, 0, 1.81);
  transition: all 0.4s  cubic-bezier(0.88,-0.99, 0, 1.81);
}

.hovereffect:hover .overlay {
  background-color: rgba(75, 75, 75, 0.4);
}

.hovereffect img {
  display: block;
  position: relative;
}



.hovereffect h2{
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  width: 90%;
  height: 80%;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  background-color: rgba(75, 75, 75, 0.4);

  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.4s  cubic-bezier(0.88,-0.99, 0, 1.81);
  transition: all 0.4s  cubic-bezier(0.88,-0.99, 0, 1.81);

  font-weight: normal;
  margin: 50px 0 0 0;
  padding: 62px 100px;
  padding-top: 100px;
  font-size: 25px;
}

.hovereffect:hover h2 {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  box-shadow: 0 0 5px #fff;
}

.hovereffect a.info:hover {
  box-shadow: 0 0 5px #fff;
}*/
/*----------------------------*\
  side stay connected
\*----------------------------*/

#stay_connected{
  display: inline;
  margin:0;
}


#stay_connected li {
  display: inline;
  padding:2px;
  margin: 0;
  height: 100%;
}

#stay_connected li i{
  
}


#stay_connected li a{
  display: inline-block;
/*  border-radius: 50px;*/
  position: relative;
/*  -moz-border-radius:50%;
  -webkit-border-radius:50%;*/
}

#stay_connected i.fa{
  color: black;
  width: 60px;
  font-size: 28px;
  line-height: 50px;
  border: 2px solid #666;
  box-shadow: #222 3px 5px 1px 1px;
}

/*#stay_connected a {
  color: #3A4E62;
}*/


#stay_connected a.iconfb:hover ,
#stay_connected a.icontwitter:hover , 
#stay_connected a.icongp:hover ,
#stay_connected a.iconinsta:hover
{
  background-color:#222;

}
  

#stay_connected a.iconfb i:hover , 
#stay_connected a.icontwitter i:hover, 
#stay_connected a.icongp i:hover, 
#stay_connected a.iconinsta i:hover {
  color: white;

}
  
/*----------------------------*\
  about me
\*----------------------------*/

#content {
  padding-top: 3rem;
}

#content .editors-pick{
  font-size: 25px;
  text-transform: uppercase;
}

#content blockquote, p, article {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;

}

.blog-content > article:first-child:first-letter {
    font-family: Open Sans, Arial, serif;
    font-weight: 700;
    float: left;
    font-size: 48px;
    text-transform: uppercase;
    line-height: 36px;
    padding: 5px 10px 0 0;
    color: #000;
}

#content .sub-heading {
       font-family: Open Sans, Arial, serif;
    font-weight: 400;
    line-height: 150%;
    color: #000;
    margin-bottom: 0.3rem;
    letter-spacing: 2px;
    max-height: 99999px;
    letter-spacing: 150%;
}

.quote blockquote {
    border-left: solid 3px #ddd;
    color: #888;
    font-style: italic;
    margin: 0 0 1.6em;
    padding-left: 25px;
}


.about-me {
    position: relative;
    width: 100%;
    max-width: 400px;
    min-height: 240px;
    margin: 0 auto 20px;
    padding: 10px 20px 1px;
    text-align: center;
    max-height: 99999px;
    background: url(img/bg-gradient-white.png) top repeat-x;
}

.about-me-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 140px;
    margin: 0;
    background-color: #FFF;
}
.bgcover {
    background-color: #000;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.about-me .avatar {
    position: relative;
    width: 118px;
    height: 118px;
    margin: 60px auto 15px;
    border: 5px solid #FFF;
    border-radius: 100%;
    background-color: #e9e9e9;
    display: block;
}

.content-side {
  margin-top: 115px;
}

.comments-area > h3, .comment-form > h3, .similar-post > h3 {
    line-height: 1;
    text-align: center;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
    margin-bottom: 24px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: bold;

}

.comments-area li{
  margin-bottom: 25px;
}

ol.comment-list {
    list-style: none;
    margin-left: 0;
    padding-top: 12px;
    padding-bottom: 1px;

}

.avatar {
  border-radius: 100%;
}

.profile img {
  height: 118px;
  width: 118px;
}


/*----------------------------*\
  line
\*----------------------------*/

.post-divider {
  width: 80%;
  background: url(../images/line.png) 0 50% repeat;
  overflow: hidden;
  margin-top: 50px;
  height: 5px;
  opacity: .1;
 /* display: block;*/
}
/*.post-header {
  width: 80%;
  background: url(../images/more.png) 0 50% repeat;
  overflow: hidden;
  margin-top: 50px;
  height: 5px;
  display: block;
}*/



/*----------------------------*\
  box -section
\*----------------------------*/


.box {
  position: relative;
/*  width: 900px;*/
  height: 350px;
  left:  50%;
  top: 50%;
  cursor: pointer;
  transform: translate(-50% , -50%);
  transform-style: preserve-3d;
  perspective: 2000px;
  transition: 0.5s;
  border-top: 8px solid #333;
  border-left: 10px solid #333;
  border-bottom: 8px solid #333;
  border-right: 10px solid #333;

}



.box:hover {
  transform: translate(-50%,-50%) rotateY(-30deg) skewY(5deg);
}

.box .text {
  position: absolute;
  top: 30px;
  left: -30px;
  background: #fff;
  width: calc(100% + 60px);
  height: calc(100% - 60px);
  transition: 0.5s;
}

.box:hover .text {
  transform:rotateY(30deg) skewY(-5deg);
}

.text div {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transform:translateY(-50%);
  padding: 40px 80px;
  box-sizing: border-box;
  text-align: center;
}

.text div h1 {
  margin: 0 0 20px;
  padding: 0;
  font-size: 25px;
  color: #111;    

}

.text div p {
  margin: 0 0 20px;
  padding: 0;
  color: #333;
  font-size: 28px;
  font-family: 'Kaushan Script', cursive;
}

#fa {
  width: 80px;
  height: 80px;
  background: #fff;
  color: #262626;
  text-align: center;
  line-height: 80px !important;
  font-size: 40px !important;
}
.fa.fa1 {
  position: absolute;
  top: 0;
  left: 0;
}
.fa.fa2 {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

@media only screen and (max-width: 810px){
   .box { 
      width: 90%; 
    }
   .text div h1{ 
      width: 90%; 
      font-size: 25px;
   }
   .text div p{
      width: 90%; 
      font-size: 18px;
   }
}


#circle-outside {
  border-radius: 50px;
  -webkit-shape-outside:circle();
  shape-outside:circle();
}


/*----------------------------*\
 footer
\*----------------------------*/

#social-footer{
  width: 100%;
}

#social-footer li {
  display: inline;
  padding:2px;
  margin: 0;
  height: 100%;
}

#social-footer li a{
  display: inline-block;
  position: relative;
}

#social-footer i.fa{
  color: #fff;
  width: 60px;
  font-size: 28px;
  line-height: 50px;
}

.tags-widget li {
  list-style: none;
}

.tags-widget li a {
  color: rgba(255,255,255,0.2);
}
.tags-widget li a:hover {
  color: rgba(255,255,255,0.8);
}

.footer-img {
  width: 100%;
  height: 200px; 
  object-fit: cover;
}

.footer-img .st img {
  width: 100%;
  height: 85%;
  object-fit: cover;
}

.footer-img .mid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 425px) {
.navbar-expand-sm {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
}
}



.container-s {
    position: relative;
}

.bird {
    background-image: url(../images/fly.gif);
    background-size: auto 100%;
    width: 100px;
    height: 100px;
    will-change: background-position;
    -webkit-animation-name: fly-cycle;
    animation-name: fly-cycle;
    padding: 100px;

    -webkit-animation-timing-function: steps(8);
    animation-timing-function: steps(8);
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.bird--one {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
}
.bird--two {
    -webkit-animation-duration: 0.9s;
    animation-duration: 0.9s;
    -webkit-animation-delay: -0.75s;
    animation-delay: -0.75s;
}
.bird--three {
    -webkit-animation-duration: 1.25s;
    animation-duration: 1.25s;
    -webkit-animation-delay: -0.25s;
    animation-delay: -0.25s;
}
.bird--four {
    -webkit-animation-duration: 1.1s;
    animation-duration: 1.1s;
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
}

.bird--five {
    -webkit-animation-duration: 1.1s;
    animation-duration: 1.1s;
    -webkit-animation-delay: -0.5s;
    animation-delay: -1s;
}

.bird--six {
    -webkit-animation-duration: 1.1s;
    animation-duration: 1.1s;
    -webkit-animation-delay: -0.5s;
    animation-delay: -1.25s;
}

.bird-container {
    position: absolute;
    top: 20%;
    left: -7.5vw;
    -webkit-transform: scale(0);
    transform: scale(0);
    will-change: transform;

    -webkit-animation-name: fly-right-one;
    animation-name: fly-right-one;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.bird-container--one {
    -webkit-animation-duration: 13s;
    animation-duration: 13s;
    -webkit-animation-delay: 0;
    animation-delay: 0;
}
.bird-container--two {
    -webkit-animation-duration: 14s;
    animation-duration: 14s;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}
.bird-container--three {
    -webkit-animation-duration: 14.6s;
    animation-duration: 14.6s;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}
.bird-container--four {
    -webkit-animation-duration: 15s;
    animation-duration: 15s;
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
}

.bird-container--five {
    -webkit-animation-duration: 15.6s;
    animation-duration: 15.6s;
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
}

.bird-container--six {
    -webkit-animation-duration: 16s;
    animation-duration: 16s;
    -webkit-animation-delay: 5s;
    animation-delay: 5s;
}


 @-webkit-keyframes fly-cycle {
 100% {
 background-position: -900px 0;
}
}
 @keyframes fly-cycle {
 100% {
 background-position: -900px 0;
}
}


@keyframes fly-right-one {
 0% {
 left: -10%;
 -webkit-transform: scale(0.3);
 transform: scale(0.3);
}

 10% {
 left: 10%;
 -webkit-transform: translateY(20vh) scale(0.4);
 transform: translateY(20vh) scale(0.4);
}
 20% {
 left: 30%;
 -webkit-transform: translateY(-10vh) scale(0.5);
 transform: translateY(-10vh) scale(0.5);
}
/* 30% {
 left: 50%;
 -webkit-transform: translateY(0vh) scale(0.6);
 transform: translateY(0vh) scale(0.6);
}
 40% {
 left: 70%;
 -webkit-transform: translateY(20vh) scale(0.6);
 transform: translateY(20vh) scale(0.6);
}*/
 50% {
 left: 90%;
 -webkit-transform: translateY(10vh) scale(0.6);
 transform: translateY(10vh) scale(0.5);
}
/* 60% {
 left: 110%;
 -webkit-transform: translateY(0vh) scale(0.6);
 transform: translateY(0vh) scale(0.5);
}*/
 100% {
 left: 110%;
 opacity: 1;
 -webkit-transform: translateY(0vh) scale(0.6);
 transform: translateY(0vh) scale(0.4);
}
}

/*----------------------------*\
  footer end-
\*----------------------------*/


/*----------------------------*\
  feature-pic
\*----------------------------*/

.featured-pic-img{
  background:url(../images/joel-mott-1268054-unsplash.jpg);
/*  text-align: center;*/
  color: #fff;
   
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.featured-pic-img .rows {
  background-color: rgba(0,0,0,0.8);
}

.featured-pic .banner-text{
 /* padding:200px 0 150px 0;*/
}

.featured-pic .banner-heading h3{
  color: #fff;
  font-size:2.7rem;
  font-family: 'Oswald', sans-serif;
}

.featured-pic .banner-heading h6{
  color: #888;
  font-size:1rem;
  font-family: 'Open Sans', sans-serif;
}

.featured-pic .banner-sub-heading h6{
  color: #888;
  font-size:1rem;
  text-align: justify;
  font-family: 'Open Sans', sans-serif;
}

@media (max-width:900px;){
  .featured-pic .banner-text{
   /* padding:50px 0 50px 0;*/
}
  .featured-pic .banner-sub-heading{
    font-size: 23px;
    font-weight: 200;
    line-height: 23px;
    margin-bottom: 40px;
    margin: 5px;
    text-align: justify;
}

/*#contents {
  padding: 10px;
}*/

}

#black {
  background-color: black;
}

#black span  {
  border-radius: 15px;
}

#black h4  {
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
}

#black h3  {
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
}

#black h6  {
  font-size: 13px;
  color: rgba(255,255,255,0.5);
  font-family: 'Open Sans', sans-serif;
}

#contents {
  background-color: #171717;
}

#contents h6 {
  text-align: justify;
  font-family: 'Open Sans', sans-serif;
  color:  #FAEBD7;
  font-size: 17px;
}

#contents h5 {
  text-align: justify;
  font-family: 'Open Sans', sans-serif;
  color:  #FF7F50;
  font-size: 17px;
}

#contents #details {
  font-size: 11px;
  text-align: justify;
  color: #888;
  font-family: 'Open Sans', sans-serif;
}

#author-profile {
  position: relative;
  min-height: 80vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /*background-attachment: fixed;*/
}

#author-content {
  margin-top: 50px;
}

#author-content .card {
  position: relative;
  min-height: 200px;
}

#author-profile #stay-connected i{

  color: #fff;
  border-color: #fff;
}



@media (max-width:769px)

{
  #author-profile {
    position: relative;
    min-height: 220px;
    align-self: center;
  }
  #author-profile img {
      width: 150px;
      height: 150px;
    }
  
}

@media (max-width:578px;)

{
  #author-profile{
      font-size: 15px;
    }
  
}

.sample {
  position: relative;
  min-height: 500px;
  margin-bottom: 10px;
}

#newsletter {
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
  min-height: 100vh;
}

#newsletter .container {
  margin-top: 175px;
}

#contact-me .bg-col {
  border-radius: 5px;
}
.bg-col {
  background-color: #2c2f33;
  padding: 15px;
  margin-top: -60px;
}
 .contact-logo {

  
  margin-top: -65px;
  z-index: 9999;
  text-align: center;
 }

 @media (max-width: 769px) {
    #author-profile p {
      display: none;
    }
 }
/* @media (min-width: 770px), (max-width: 975px) {
    #author-profile p {
    line-height: 20px;
    font-size: 85%;
    margin-bottom: 0;
    }

    #author-profile {
      min-height: 375px;
    }
 }*/

 /*#category-featured {
  position: relative;
  width: 100%;
  height: 100vh;
 }*/

 .wrap-height {
    position: relative;
    height: 75vh;
 }

 #category-featured .card-overlay {
 /* background-color: rgba(0,0,0,0.4);*/
 background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.7));
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.25rem;
  height: 100%;
    
 }

 .move-bot {
  position: absolute;
  bottom: 20px;
  color: #fff;
 }

.side-card {
   position: relative;

}

.w-80 {
  width: 80% !important;
} 

.w-35 {
  width: 35% !important;
} 
.w-65 {
  width: 65% !important;
} 

.widget_recent_entries ul li .recent_posts_inner .widget_recent_post_category {
    margin: 0 0 19px 0;
}
.cat-links {
    position: static;
    text-transform: uppercase;
    z-index: 20;
}
.cat-links {
    position: static;
    text-transform: uppercase;
    z-index: 20;
}

/*.feat {
  position: relative;
  min-height: 400px;
}*/

.cat2 .card-img-top {
    width: 100%;
    height: 25vw;
    object-fit: cover;
}
